body,
p,
h1 {
    margin: 0;
}

p,
a {
    font-size: 20px;
}

/* header */

header {
    margin-bottom: 20px;
    background: rgb(244, 79, 79);
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

/* main */

main {
    /* margin:10px; */
    padding: 10px;
}

#parent {
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-between; */
}

.contents {
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before {
    content: "●";
}

.contents p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(94, 206, 249);
}

.contents img {
    margin: 10px 0;

    /* widthの値に%指定すると要素の幅は可変となる
    親要素（div .contents）の70%のサイズとなる */
    width: 70%;
}

/* footer  */

footer {
    background: rgb(244, 79, 79);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);

}

a:hover {
    color: rgb(245, 178, 168);
}

a:visited {
    color: rgb(193, 234, 251);
}

@media screen and (max-width: 768px){
    
    h2{
        font-size:30px;
    }
    p{
        font-size:25px;
    }
    #parent{
        display:block;
    }
}